@{
    ViewBag.Title = "displayCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    List<SelectListItem> listCats = new BusinessLayer.ProductBL().getAllCategories().Select(x => new SelectListItem()
    {
        Text = x.CategoryName.ToString(),
        Value = x.CategoryID.ToString(),
   }).ToList();
 }


@using (Html.BeginForm("displayCategoriesPost", "Product"))

{

<h2>Select a Category</h2>
 <div class="editor-field">
  @Html.DropDownList("CategoryDDL", listCats)
 </div>
  <p>
   <input type="submit" value="Search" />
  </p>
 }


